# Simple problem -- single city - single order

In [1]:
import pandas as pd
import pulp as plp

In [2]:
input_file = "../tests/data/test01_v1c3dhuge.xlsx"
output_file = "../data/test_output.xlsx"

## Data

In [3]:
sheet_name = "Parameters"
df_param = pd.read_excel(input_file, sheet_name=sheet_name)
df_param.set_index("ParamName", inplace=True)
minPeriod = df_param.loc["minPeriod"].ParamValue
maxPeriod = df_param.loc["maxPeriod"].ParamValue
minPeriod, maxPeriod

(0, 25)

In [4]:
sheet_name = "Orders"
df_orders = pd.read_excel(input_file, sheet_name=sheet_name)
df_orders.head()

       City  Demand  Price_per_unit  Deliver_from  Deliver_to
0    Tambov     200             800             3          15
1  Voronezh     100            1100            17          24

In [5]:
sheet_name = "Routes"
df_routes = pd.read_excel(input_file, sheet_name=sheet_name)
df_routes.head()

       From        To      Time  Distance
0    Moscow    Tambov  3.000000       400
1    Moscow  Voronezh  5.000000       450
2    Tambov    Moscow  3.000000       400
3    Tambov  Voronezh  2.111111       190
4  Voronezh    Tambov  2.111111       190

In [6]:
sheet_name = "Cities"
df_cities = pd.read_excel(input_file, sheet_name=sheet_name)
df_cities.head()

       City
0    Moscow
1    Tambov
2  Voronezh

In [7]:
sheet_name = "Vehicles"
df_cars= pd.read_excel(input_file, sheet_name=sheet_name, nrows=None)
df_cars.head()

  CarName  Capacity  Price_per_km
0  Nissan        60             9

In [8]:
TOT_CAPACITY = df_cars.Capacity.sum()
TOT_CAPACITY

60

## Structures

Moscow - origin depot and destination depot

In [9]:
def convert_dataframe_to_dict(dataframe, key_columns, value_column):
    return (
        dataframe.loc[:, key_columns + [value_column]]
        .set_index(key_columns)
        .to_dict()[value_column]
    )

In [10]:
def convert_dataframe_to_set(dataframe, key_columns, value_column):
    return set(
        list(convert_dataframe_to_dict(dataframe, key_columns, value_column).keys())
    )

In [11]:
depot = df_cities.City[0]

cities = set(df_cities.City.values).difference(set([depot]))

#origin_depot = default_depot + '_start'
#destination_depot = default_depot + '_end'

all_cities = cities.union([depot])
depot, all_cities

('Moscow', {'Moscow', 'Tambov', 'Voronezh'})

In [12]:
capacity = convert_dataframe_to_dict(df_cars, ["CarName"], "Capacity")
capacity

{'Nissan': 60}

In [13]:
car_price = convert_dataframe_to_dict(df_cars, ["CarName"], "Price_per_km")
car_price

{'Nissan': 9}

In [14]:
routes = convert_dataframe_to_set(df_routes, ["From", "To"], "Distance")

In [15]:
route_time = convert_dataframe_to_dict(df_routes, ["From", "To"], "Time")
route_distance = convert_dataframe_to_dict(df_routes, ["From", "To"], "Distance")

In [16]:
#route_time, route_distance, routes

In [17]:
orders = df_orders.set_index("City")
orders

          Demand  Price_per_unit  Deliver_from  Deliver_to
City
Tambov       200             800             3          15
Voronezh     100            1100            17          24

In [18]:
TOT_DEMAND = df_orders.Demand.sum()
TOT_DEMAND

300

In [19]:
cars = convert_dataframe_to_set(df_cars, ["CarName"], "Price_per_km")
cars

{'Nissan'}

In [20]:
# trips - number of trips performed by one vehicle
#trips = list(range(1, len(cities)))
trips = list(range(1, TOT_DEMAND//TOT_CAPACITY + 2))
fin_trip = trips[-1]
trips, fin_trip

([1, 2, 3, 4, 5, 6], 6)

## Task

In [21]:
pbm = plp.LpProblem("VRPTW", plp.LpMaximize)

In [22]:
x = plp.LpVariable.dicts("x", [(k, n, r) for k in cars for n in trips for r in routes], cat=plp.LpBinary)

In [23]:
y = plp.LpVariable.dicts("y", [(k, n, i) for k in cars for n in trips for i in all_cities], cat=plp.LpBinary)

In [24]:
d = plp.LpVariable.dicts("d", [(k, n, i) for k in cars for n in trips for i in cities], cat=plp.LpContinuous, lowBound=0)

In [25]:
#lack
lack = plp.LpVariable.dicts("lack", [i for i in cities], cat=plp.LpContinuous, lowBound=0)

In [26]:
t = plp.LpVariable.dicts("t", [(k, n, i) for k in cars for n in trips for i in all_cities], cat=plp.LpContinuous, lowBound=0)

In [27]:
# end time of the trip n
te = plp.LpVariable.dicts("te", [(k, n) for k in cars for n in trips], cat=plp.LpContinuous, lowBound=0)

In [28]:
# maximize revenue
#revenue = sales_profit - devlivery_cost + expensive_undelivered
pbm += plp.lpSum(orders.loc[i].Price_per_unit * d[k, n, i] for k in cars for n in trips for i in cities) \
    - plp.lpSum(route_distance[r] * car_price[k] * x[k, n, r] for k in cars for n in trips for r in routes) \
    - plp.lpSum(te[k, n] for k in cars for n in trips) \
    - plp.lpSum(100 * orders.loc[i].Price_per_unit * lack[i] for i in cities)

In [29]:
# time constraints
for k in cars:
    pbm += t[k, 1, depot] == 0
    for n in trips:
        if n != fin_trip:
            pbm += te[k, n] <= t[k, n+1, depot]
            pbm += t[k, n, depot] <= t[k, n+1, depot]
        pbm += te[k, n] <= maxPeriod
        
        for i, j in routes:
            if j == depot:
                continue
            pbm += t[k, n, i] + route_time[i, j] <= t[k, n, j] + maxPeriod * (1 - x[k, n, (i, j)])
        for i in cities:
            pbm += t[k, n, i] + route_time[i, depot] <= te[k, n] + maxPeriod * (1 - x[k, n, (i, depot)])
            pbm += t[k, n, i] >= orders.loc[i].Deliver_from * y[k, n, i]
            pbm += t[k, n, i] <= orders.loc[i].Deliver_to * y[k, n, i]

In [30]:
for i in cities:
    # every city visited at least once by one vehicle
    pbm += plp.lpSum(y[k, n, i] for k in cars for n in trips) >= 1

    # demand
    pbm += plp.lpSum(d[k, n, i] for k in cars for n in trips) == orders.loc[i].Demand - lack[i]
    
    
for k in cars:
    for i in all_cities:
        for n in trips:
            pbm += plp.lpSum(x[k, n, (i, j)] for j in all_cities if i != j) == y[k, n, i]
            pbm += plp.lpSum(x[k, n, (j, i)] for j in all_cities if i != j) == y[k, n, i]
    
    for n in trips:
        pbm += plp.lpSum(d[k, n, i] for i in cities) <= capacity[k] 
        for i in cities:
            pbm += d[k, n, i] <= capacity[k] * y[k, n, i]

In [31]:
%%time
pbm.solve(plp.PULP_CBC_CMD(msg=True))

Wall time: 527 ms

1

In [32]:
plp.LpStatus[pbm.status], plp.value(pbm.objective)

('Optimal', -10660540.0)

In [33]:
revenue = sum(orders.loc[i].Price_per_unit * d[k, n, i].value() for k in cars for n in trips for i in cities) \
    - sum(route_distance[r] * car_price[k] * x[k, n, r].value() for k in cars for n in trips for r in routes)
revenue

139500.0

In [39]:
pbm

VRPTW:
MAXIMIZE
800*d_('Nissan',_1,_'Tambov') + 1100*d_('Nissan',_1,_'Voronezh') + 800*d_('Nissan',_2,_'Tambov') + 1100*d_('Nissan',_2,_'Voronezh') + 800*d_('Nissan',_3,_'Tambov') + 1100*d_('Nissan',_3,_'Voronezh') + 800*d_('Nissan',_4,_'Tambov') + 1100*d_('Nissan',_4,_'Voronezh') + 800*d_('Nissan',_5,_'Tambov') + 1100*d_('Nissan',_5,_'Voronezh') + 800*d_('Nissan',_6,_'Tambov') + 1100*d_('Nissan',_6,_'Voronezh') + -80000*lack_Tambov + -110000*lack_Voronezh + -1*te_('Nissan',_1) + -1*te_('Nissan',_2) + -1*te_('Nissan',_3) + -1*te_('Nissan',_4) + -1*te_('Nissan',_5) + -1*te_('Nissan',_6) + -3600*x_('Nissan',_1,_('Moscow',_'Tambov')) + -4050*x_('Nissan',_1,_('Moscow',_'Voronezh')) + -3600*x_('Nissan',_1,_('Tambov',_'Moscow')) + -1710*x_('Nissan',_1,_('Tambov',_'Voronezh')) + -4050*x_('Nissan',_1,_('Voronezh',_'Moscow')) + -1710*x_('Nissan',_1,_('Voronezh',_'Tambov')) + -3600*x_('Nissan',_2,_('Moscow',_'Tambov')) + -4050*x_('Nissan',_2,_('Moscow',_'Voronezh')) + -3600*x_('Nissan',_2,_('Tambov',_'Moscow')) + -1710*x_('Nissan',_2,_('Tambov',_'Voronezh')) + -4050*x_('Nissan',_2,_('Voronezh',_'Moscow')) + -1710*x_('Nissan',_2,_('Voronezh',_'Tambov')) + -3600*x_('Nissan',_3,_('Moscow',_'Tambov')) + -4050*x_('Nissan',_3,_('Moscow',_'Voronezh')) + -3600*x_('Nissan',_3,_('Tambov',_'Moscow')) + -1710*x_('Nissan',_3,_('Tambov',_'Voronezh')) + -4050*x_('Nissan',_3,_('Voronezh',_'Moscow')) + -1710*x_('Nissan',_3,_('Voronezh',_'Tambov')) + -3600*x_('Nissan',_4,_('Moscow',_'Tambov')) + -4050*x_('Nissan',_4,_('Moscow',_'Voronezh')) + -3600*x_('Nissan',_4,_('Tambov',_'Moscow')) + -1710*x_('Nissan',_4,_('Tambov',_'Voronezh')) + -4050*x_('Nissan',_4,_('Voronezh',_'Moscow')) + -1710*x_('Nissan',_4,_('Voronezh',_'Tambov')) + -3600*x_('Nissan',_5,_('Moscow',_'Tambov')) + -4050*x_('Nissan',_5,_('Moscow',_'Voronezh')) + -3600*x_('Nissan',_5,_('Tambov',_'Moscow')) + -1710*x_('Nissan',_5,_('Tambov',_'Voronezh')) + -4050*x_('Nissan',_5,_('Voronezh',_'Moscow')) + -1710*x_('Nissan',_5,_('Voronezh',_'Tambov')) + -3600*x_('Nissan',_6,_('Moscow',_'Tambov')) + -4050*x_('Nissan',_6,_('Moscow',_'Voronezh')) + -3600*x_('Nissan',_6,_('Tambov',_'Moscow')) + -1710*x_('Nissan',_6,_('Tambov',_'Voronezh')) + -4050*x_('Nissan',_6,_('Voronezh',_'Moscow')) + -1710*x_('Nissan',_6,_('Voronezh',_'Tambov')) + 0
SUBJECT TO
_C1: t_('Nissan',_1,_'Moscow') = 0

_C2: - t_('Nissan',_2,_'Moscow') + te_('Nissan',_1) <= 0

_C3: t_('Nissan',_1,_'Moscow') - t_('Nissan',_2,_'Moscow') <= 0

_C4: te_('Nissan',_1) <= 25

_C5: - t_('Nissan',_1,_'Tambov') + t_('Nissan',_1,_'Voronezh')
 + 25 x_('Nissan',_1,_('Voronezh',_'Tambov')) <= 22.8888888889

_C6: t_('Nissan',_1,_'Tambov') - t_('Nissan',_1,_'Voronezh')
 + 25 x_('Nissan',_1,_('Tambov',_'Voronezh')) <= 22.8888888889

_C7: t_('Nissan',_1,_'Moscow') - t_('Nissan',_1,_'Tambov')
 + 25 x_('Nissan',_1,_('Moscow',_'Tambov')) <= 22

_C8: t_('Nissan',_1,_'Moscow') - t_('Nissan',_1,_'Voronezh')
 + 25 x_('Nissan',_1,_('Moscow',_'Voronezh')) <= 20

_C9: t_('Nissan',_1,_'Tambov') - te_('Nissan',_1)
 + 25 x_('Nissan',_1,_('Tambov',_'Moscow')) <= 22

_C10: t_('Nissan',_1,_'Tambov') - 3 y_('Nissan',_1,_'Tambov') >= 0

_C11: t_('Nissan',_1,_'Tambov') - 15 y_('Nissan',_1,_'Tambov') <= 0

_C12: t_('Nissan',_1,_'Voronezh') - te_('Nissan',_1)
 + 25 x_('Nissan',_1,_('Voronezh',_'Moscow')) <= 20

_C13: t_('Nissan',_1,_'Voronezh') - 17 y_('Nissan',_1,_'Voronezh') >= 0

_C14: t_('Nissan',_1,_'Voronezh') - 24 y_('Nissan',_1,_'Voronezh') <= 0

_C15: - t_('Nissan',_3,_'Moscow') + te_('Nissan',_2) <= 0

_C16: t_('Nissan',_2,_'Moscow') - t_('Nissan',_3,_'Moscow') <= 0

_C17: te_('Nissan',_2) <= 25

_C18: - t_('Nissan',_2,_'Tambov') + t_('Nissan',_2,_'Voronezh')
 + 25 x_('Nissan',_2,_('Voronezh',_'Tambov')) <= 22.8888888889

_C19: t_('Nissan',_2,_'Tambov') - t_('Nissan',_2,_'Voronezh')
 + 25 x_('Nissan',_2,_('Tambov',_'Voronezh')) <= 22.8888888889

_C20: t_('Nissan',_2,_'Moscow') - t_('Nissan',_2,_'Tambov')
 + 25 x_('Nissan',_2,_('Moscow',_'Tambov')) <= 22

_C21: t_('Nissan',_2,_'Moscow') - t_('Nissan',_2,_'Voronezh')
 + 25 x_('Nissan',_2,_('Moscow',_'Voronezh')) <= 20

_C22: t_('Nissan',_2,_'Tambov') - te_('Nissan',_2)
 + 25 x_('Nissan',_2,_('Tambov',_'Moscow')) <= 22

_C23: t_('Nissan',_2,_'Tambov') - 3 y_('Nissan',_2,_'Tambov') >= 0

_C24: t_('Nissan',_2,_'Tambov') - 15 y_('Nissan',_2,_'Tambov') <= 0

_C25: t_('Nissan',_2,_'Voronezh') - te_('Nissan',_2)
 + 25 x_('Nissan',_2,_('Voronezh',_'Moscow')) <= 20

_C26: t_('Nissan',_2,_'Voronezh') - 17 y_('Nissan',_2,_'Voronezh') >= 0

_C27: t_('Nissan',_2,_'Voronezh') - 24 y_('Nissan',_2,_'Voronezh') <= 0

_C28: - t_('Nissan',_4,_'Moscow') + te_('Nissan',_3) <= 0

_C29: t_('Nissan',_3,_'Moscow') - t_('Nissan',_4,_'Moscow') <= 0

_C30: te_('Nissan',_3) <= 25

_C31: - t_('Nissan',_3,_'Tambov') + t_('Nissan',_3,_'Voronezh')
 + 25 x_('Nissan',_3,_('Voronezh',_'Tambov')) <= 22.8888888889

_C32: t_('Nissan',_3,_'Tambov') - t_('Nissan',_3,_'Voronezh')
 + 25 x_('Nissan',_3,_('Tambov',_'Voronezh')) <= 22.8888888889

_C33: t_('Nissan',_3,_'Moscow') - t_('Nissan',_3,_'Tambov')
 + 25 x_('Nissan',_3,_('Moscow',_'Tambov')) <= 22

_C34: t_('Nissan',_3,_'Moscow') - t_('Nissan',_3,_'Voronezh')
 + 25 x_('Nissan',_3,_('Moscow',_'Voronezh')) <= 20

_C35: t_('Nissan',_3,_'Tambov') - te_('Nissan',_3)
 + 25 x_('Nissan',_3,_('Tambov',_'Moscow')) <= 22

_C36: t_('Nissan',_3,_'Tambov') - 3 y_('Nissan',_3,_'Tambov') >= 0

_C37: t_('Nissan',_3,_'Tambov') - 15 y_('Nissan',_3,_'Tambov') <= 0

_C38: t_('Nissan',_3,_'Voronezh') - te_('Nissan',_3)
 + 25 x_('Nissan',_3,_('Voronezh',_'Moscow')) <= 20

_C39: t_('Nissan',_3,_'Voronezh') - 17 y_('Nissan',_3,_'Voronezh') >= 0

_C40: t_('Nissan',_3,_'Voronezh') - 24 y_('Nissan',_3,_'Voronezh') <= 0

_C41: - t_('Nissan',_5,_'Moscow') + te_('Nissan',_4) <= 0

_C42: t_('Nissan',_4,_'Moscow') - t_('Nissan',_5,_'Moscow') <= 0

_C43: te_('Nissan',_4) <= 25

_C44: - t_('Nissan',_4,_'Tambov') + t_('Nissan',_4,_'Voronezh')
 + 25 x_('Nissan',_4,_('Voronezh',_'Tambov')) <= 22.8888888889

_C45: t_('Nissan',_4,_'Tambov') - t_('Nissan',_4,_'Voronezh')
 + 25 x_('Nissan',_4,_('Tambov',_'Voronezh')) <= 22.8888888889

_C46: t_('Nissan',_4,_'Moscow') - t_('Nissan',_4,_'Tambov')
 + 25 x_('Nissan',_4,_('Moscow',_'Tambov')) <= 22

_C47: t_('Nissan',_4,_'Moscow') - t_('Nissan',_4,_'Voronezh')
 + 25 x_('Nissan',_4,_('Moscow',_'Voronezh')) <= 20

_C48: t_('Nissan',_4,_'Tambov') - te_('Nissan',_4)
 + 25 x_('Nissan',_4,_('Tambov',_'Moscow')) <= 22

_C49: t_('Nissan',_4,_'Tambov') - 3 y_('Nissan',_4,_'Tambov') >= 0

_C50: t_('Nissan',_4,_'Tambov') - 15 y_('Nissan',_4,_'Tambov') <= 0

_C51: t_('Nissan',_4,_'Voronezh') - te_('Nissan',_4)
 + 25 x_('Nissan',_4,_('Voronezh',_'Moscow')) <= 20

_C52: t_('Nissan',_4,_'Voronezh') - 17 y_('Nissan',_4,_'Voronezh') >= 0

_C53: t_('Nissan',_4,_'Voronezh') - 24 y_('Nissan',_4,_'Voronezh') <= 0

_C54: - t_('Nissan',_6,_'Moscow') + te_('Nissan',_5) <= 0

_C55: t_('Nissan',_5,_'Moscow') - t_('Nissan',_6,_'Moscow') <= 0

_C56: te_('Nissan',_5) <= 25

_C57: - t_('Nissan',_5,_'Tambov') + t_('Nissan',_5,_'Voronezh')
 + 25 x_('Nissan',_5,_('Voronezh',_'Tambov')) <= 22.8888888889

_C58: t_('Nissan',_5,_'Tambov') - t_('Nissan',_5,_'Voronezh')
 + 25 x_('Nissan',_5,_('Tambov',_'Voronezh')) <= 22.8888888889

_C59: t_('Nissan',_5,_'Moscow') - t_('Nissan',_5,_'Tambov')
 + 25 x_('Nissan',_5,_('Moscow',_'Tambov')) <= 22

_C60: t_('Nissan',_5,_'Moscow') - t_('Nissan',_5,_'Voronezh')
 + 25 x_('Nissan',_5,_('Moscow',_'Voronezh')) <= 20

_C61: t_('Nissan',_5,_'Tambov') - te_('Nissan',_5)
 + 25 x_('Nissan',_5,_('Tambov',_'Moscow')) <= 22

_C62: t_('Nissan',_5,_'Tambov') - 3 y_('Nissan',_5,_'Tambov') >= 0

_C63: t_('Nissan',_5,_'Tambov') - 15 y_('Nissan',_5,_'Tambov') <= 0

_C64: t_('Nissan',_5,_'Voronezh') - te_('Nissan',_5)
 + 25 x_('Nissan',_5,_('Voronezh',_'Moscow')) <= 20

_C65: t_('Nissan',_5,_'Voronezh') - 17 y_('Nissan',_5,_'Voronezh') >= 0

_C66: t_('Nissan',_5,_'Voronezh') - 24 y_('Nissan',_5,_'Voronezh') <= 0

_C67: te_('Nissan',_6) <= 25

_C68: - t_('Nissan',_6,_'Tambov') + t_('Nissan',_6,_'Voronezh')
 + 25 x_('Nissan',_6,_('Voronezh',_'Tambov')) <= 22.8888888889

_C69: t_('Nissan',_6,_'Tambov') - t_('Nissan',_6,_'Voronezh')
 + 25 x_('Nissan',_6,_('Tambov',_'Voronezh')) <= 22.8888888889

_C70: t_('Nissan',_6,_'Moscow') - t_('Nissan',_6,_'Tambov')
 + 25 x_('Nissan',_6,_('Moscow',_'Tambov')) <= 22

_C71: t_('Nissan',_6,_'Moscow') - t_('Nissan',_6,_'Voronezh')
 + 25 x_('Nissan',_6,_('Moscow',_'Voronezh')) <= 20

_C72: t_('Nissan',_6,_'Tambov') - te_('Nissan',_6)
 + 25 x_('Nissan',_6,_('Tambov',_'Moscow')) <= 22

_C73: t_('Nissan',_6,_'Tambov') - 3 y_('Nissan',_6,_'Tambov') >= 0

_C74: t_('Nissan',_6,_'Tambov') - 15 y_('Nissan',_6,_'Tambov') <= 0

_C75: t_('Nissan',_6,_'Voronezh') - te_('Nissan',_6)
 + 25 x_('Nissan',_6,_('Voronezh',_'Moscow')) <= 20

_C76: t_('Nissan',_6,_'Voronezh') - 17 y_('Nissan',_6,_'Voronezh') >= 0

_C77: t_('Nissan',_6,_'Voronezh') - 24 y_('Nissan',_6,_'Voronezh') <= 0

_C78: y_('Nissan',_1,_'Tambov') + y_('Nissan',_2,_'Tambov')
 + y_('Nissan',_3,_'Tambov') + y_('Nissan',_4,_'Tambov')
 + y_('Nissan',_5,_'Tambov') + y_('Nissan',_6,_'Tambov') >= 1

_C79: d_('Nissan',_1,_'Tambov') + d_('Nissan',_2,_'Tambov')
 + d_('Nissan',_3,_'Tambov') + d_('Nissan',_4,_'Tambov')
 + d_('Nissan',_5,_'Tambov') + d_('Nissan',_6,_'Tambov') + lack_Tambov = 200

_C80: y_('Nissan',_1,_'Voronezh') + y_('Nissan',_2,_'Voronezh')
 + y_('Nissan',_3,_'Voronezh') + y_('Nissan',_4,_'Voronezh')
 + y_('Nissan',_5,_'Voronezh') + y_('Nissan',_6,_'Voronezh') >= 1

_C81: d_('Nissan',_1,_'Voronezh') + d_('Nissan',_2,_'Voronezh')
 + d_('Nissan',_3,_'Voronezh') + d_('Nissan',_4,_'Voronezh')
 + d_('Nissan',_5,_'Voronezh') + d_('Nissan',_6,_'Voronezh') + lack_Voronezh
 = 100

_C82: x_('Nissan',_1,_('Tambov',_'Moscow'))
 + x_('Nissan',_1,_('Tambov',_'Voronezh')) - y_('Nissan',_1,_'Tambov') = 0

_C83: x_('Nissan',_1,_('Moscow',_'Tambov'))
 + x_('Nissan',_1,_('Voronezh',_'Tambov')) - y_('Nissan',_1,_'Tambov') = 0

_C84: x_('Nissan',_2,_('Tambov',_'Moscow'))
 + x_('Nissan',_2,_('Tambov',_'Voronezh')) - y_('Nissan',_2,_'Tambov') = 0

_C85: x_('Nissan',_2,_('Moscow',_'Tambov'))
 + x_('Nissan',_2,_('Voronezh',_'Tambov')) - y_('Nissan',_2,_'Tambov') = 0

_C86: x_('Nissan',_3,_('Tambov',_'Moscow'))
 + x_('Nissan',_3,_('Tambov',_'Voronezh')) - y_('Nissan',_3,_'Tambov') = 0

_C87: x_('Nissan',_3,_('Moscow',_'Tambov'))
 + x_('Nissan',_3,_('Voronezh',_'Tambov')) - y_('Nissan',_3,_'Tambov') = 0

_C88: x_('Nissan',_4,_('Tambov',_'Moscow'))
 + x_('Nissan',_4,_('Tambov',_'Voronezh')) - y_('Nissan',_4,_'Tambov') = 0

_C89: x_('Nissan',_4,_('Moscow',_'Tambov'))
 + x_('Nissan',_4,_('Voronezh',_'Tambov')) - y_('Nissan',_4,_'Tambov') = 0

_C90: x_('Nissan',_5,_('Tambov',_'Moscow'))
 + x_('Nissan',_5,_('Tambov',_'Voronezh')) - y_('Nissan',_5,_'Tambov') = 0

_C91: x_('Nissan',_5,_('Moscow',_'Tambov'))
 + x_('Nissan',_5,_('Voronezh',_'Tambov')) - y_('Nissan',_5,_'Tambov') = 0

_C92: x_('Nissan',_6,_('Tambov',_'Moscow'))
 + x_('Nissan',_6,_('Tambov',_'Voronezh')) - y_('Nissan',_6,_'Tambov') = 0

_C93: x_('Nissan',_6,_('Moscow',_'Tambov'))
 + x_('Nissan',_6,_('Voronezh',_'Tambov')) - y_('Nissan',_6,_'Tambov') = 0

_C94: x_('Nissan',_1,_('Moscow',_'Tambov'))
 + x_('Nissan',_1,_('Moscow',_'Voronezh')) - y_('Nissan',_1,_'Moscow') = 0

_C95: x_('Nissan',_1,_('Tambov',_'Moscow'))
 + x_('Nissan',_1,_('Voronezh',_'Moscow')) - y_('Nissan',_1,_'Moscow') = 0

_C96: x_('Nissan',_2,_('Moscow',_'Tambov'))
 + x_('Nissan',_2,_('Moscow',_'Voronezh')) - y_('Nissan',_2,_'Moscow') = 0

_C97: x_('Nissan',_2,_('Tambov',_'Moscow'))
 + x_('Nissan',_2,_('Voronezh',_'Moscow')) - y_('Nissan',_2,_'Moscow') = 0

_C98: x_('Nissan',_3,_('Moscow',_'Tambov'))
 + x_('Nissan',_3,_('Moscow',_'Voronezh')) - y_('Nissan',_3,_'Moscow') = 0

_C99: x_('Nissan',_3,_('Tambov',_'Moscow'))
 + x_('Nissan',_3,_('Voronezh',_'Moscow')) - y_('Nissan',_3,_'Moscow') = 0

_C100: x_('Nissan',_4,_('Moscow',_'Tambov'))
 + x_('Nissan',_4,_('Moscow',_'Voronezh')) - y_('Nissan',_4,_'Moscow') = 0

_C101: x_('Nissan',_4,_('Tambov',_'Moscow'))
 + x_('Nissan',_4,_('Voronezh',_'Moscow')) - y_('Nissan',_4,_'Moscow') = 0

_C102: x_('Nissan',_5,_('Moscow',_'Tambov'))
 + x_('Nissan',_5,_('Moscow',_'Voronezh')) - y_('Nissan',_5,_'Moscow') = 0

_C103: x_('Nissan',_5,_('Tambov',_'Moscow'))
 + x_('Nissan',_5,_('Voronezh',_'Moscow')) - y_('Nissan',_5,_'Moscow') = 0

_C104: x_('Nissan',_6,_('Moscow',_'Tambov'))
 + x_('Nissan',_6,_('Moscow',_'Voronezh')) - y_('Nissan',_6,_'Moscow') = 0

_C105: x_('Nissan',_6,_('Tambov',_'Moscow'))
 + x_('Nissan',_6,_('Voronezh',_'Moscow')) - y_('Nissan',_6,_'Moscow') = 0

_C106: x_('Nissan',_1,_('Voronezh',_'Moscow'))
 + x_('Nissan',_1,_('Voronezh',_'Tambov')) - y_('Nissan',_1,_'Voronezh') = 0

_C107: x_('Nissan',_1,_('Moscow',_'Voronezh'))
 + x_('Nissan',_1,_('Tambov',_'Voronezh')) - y_('Nissan',_1,_'Voronezh') = 0

_C108: x_('Nissan',_2,_('Voronezh',_'Moscow'))
 + x_('Nissan',_2,_('Voronezh',_'Tambov')) - y_('Nissan',_2,_'Voronezh') = 0

_C109: x_('Nissan',_2,_('Moscow',_'Voronezh'))
 + x_('Nissan',_2,_('Tambov',_'Voronezh')) - y_('Nissan',_2,_'Voronezh') = 0

_C110: x_('Nissan',_3,_('Voronezh',_'Moscow'))
 + x_('Nissan',_3,_('Voronezh',_'Tambov')) - y_('Nissan',_3,_'Voronezh') = 0

_C111: x_('Nissan',_3,_('Moscow',_'Voronezh'))
 + x_('Nissan',_3,_('Tambov',_'Voronezh')) - y_('Nissan',_3,_'Voronezh') = 0

_C112: x_('Nissan',_4,_('Voronezh',_'Moscow'))
 + x_('Nissan',_4,_('Voronezh',_'Tambov')) - y_('Nissan',_4,_'Voronezh') = 0

_C113: x_('Nissan',_4,_('Moscow',_'Voronezh'))
 + x_('Nissan',_4,_('Tambov',_'Voronezh')) - y_('Nissan',_4,_'Voronezh') = 0

_C114: x_('Nissan',_5,_('Voronezh',_'Moscow'))
 + x_('Nissan',_5,_('Voronezh',_'Tambov')) - y_('Nissan',_5,_'Voronezh') = 0

_C115: x_('Nissan',_5,_('Moscow',_'Voronezh'))
 + x_('Nissan',_5,_('Tambov',_'Voronezh')) - y_('Nissan',_5,_'Voronezh') = 0

_C116: x_('Nissan',_6,_('Voronezh',_'Moscow'))
 + x_('Nissan',_6,_('Voronezh',_'Tambov')) - y_('Nissan',_6,_'Voronezh') = 0

_C117: x_('Nissan',_6,_('Moscow',_'Voronezh'))
 + x_('Nissan',_6,_('Tambov',_'Voronezh')) - y_('Nissan',_6,_'Voronezh') = 0

_C118: d_('Nissan',_1,_'Tambov') + d_('Nissan',_1,_'Voronezh') <= 60

_C119: d_('Nissan',_1,_'Tambov') - 60 y_('Nissan',_1,_'Tambov') <= 0

_C120: d_('Nissan',_1,_'Voronezh') - 60 y_('Nissan',_1,_'Voronezh') <= 0

_C121: d_('Nissan',_2,_'Tambov') + d_('Nissan',_2,_'Voronezh') <= 60

_C122: d_('Nissan',_2,_'Tambov') - 60 y_('Nissan',_2,_'Tambov') <= 0

_C123: d_('Nissan',_2,_'Voronezh') - 60 y_('Nissan',_2,_'Voronezh') <= 0

_C124: d_('Nissan',_3,_'Tambov') + d_('Nissan',_3,_'Voronezh') <= 60

_C125: d_('Nissan',_3,_'Tambov') - 60 y_('Nissan',_3,_'Tambov') <= 0

_C126: d_('Nissan',_3,_'Voronezh') - 60 y_('Nissan',_3,_'Voronezh') <= 0

_C127: d_('Nissan',_4,_'Tambov') + d_('Nissan',_4,_'Voronezh') <= 60

_C128: d_('Nissan',_4,_'Tambov') - 60 y_('Nissan',_4,_'Tambov') <= 0

_C129: d_('Nissan',_4,_'Voronezh') - 60 y_('Nissan',_4,_'Voronezh') <= 0

_C130: d_('Nissan',_5,_'Tambov') + d_('Nissan',_5,_'Voronezh') <= 60

_C131: d_('Nissan',_5,_'Tambov') - 60 y_('Nissan',_5,_'Tambov') <= 0

_C132: d_('Nissan',_5,_'Voronezh') - 60 y_('Nissan',_5,_'Voronezh') <= 0

_C133: d_('Nissan',_6,_'Tambov') + d_('Nissan',_6,_'Voronezh') <= 60

_C134: d_('Nissan',_6,_'Tambov') - 60 y_('Nissan',_6,_'Tambov') <= 0

_C135: d_('Nissan',_6,_'Voronezh') - 60 y_('Nissan',_6,_'Voronezh') <= 0

VARIABLES
d_('Nissan',_1,_'Tambov') Continuous
d_('Nissan',_1,_'Voronezh') Continuous
d_('Nissan',_2,_'Tambov') Continuous
d_('Nissan',_2,_'Voronezh') Continuous
d_('Nissan',_3,_'Tambov') Continuous
d_('Nissan',_3,_'Voronezh') Continuous
d_('Nissan',_4,_'Tambov') Continuous
d_('Nissan',_4,_'Voronezh') Continuous
d_('Nissan',_5,_'Tambov') Continuous
d_('Nissan',_5,_'Voronezh') Continuous
d_('Nissan',_6,_'Tambov') Continuous
d_('Nissan',_6,_'Voronezh') Continuous
lack_Tambov Continuous
lack_Voronezh Continuous
t_('Nissan',_1,_'Moscow') Continuous
t_('Nissan',_1,_'Tambov') Continuous
t_('Nissan',_1,_'Voronezh') Continuous
t_('Nissan',_2,_'Moscow') Continuous
t_('Nissan',_2,_'Tambov') Continuous
t_('Nissan',_2,_'Voronezh') Continuous
t_('Nissan',_3,_'Moscow') Continuous
t_('Nissan',_3,_'Tambov') Continuous
t_('Nissan',_3,_'Voronezh') Continuous
t_('Nissan',_4,_'Moscow') Continuous
t_('Nissan',_4,_'Tambov') Continuous
t_('Nissan',_4,_'Voronezh') Continuous
t_('Nissan',_5,_'Moscow') Continuous
t_('Nissan',_5,_'Tambov') Continuous
t_('Nissan',_5,_'Voronezh') Continuous
t_('Nissan',_6,_'Moscow') Continuous
t_('Nissan',_6,_'Tambov') Continuous
t_('Nissan',_6,_'Voronezh') Continuous
te_('Nissan',_1) Continuous
te_('Nissan',_2) Continuous
te_('Nissan',_3) Continuous
te_('Nissan',_4) Continuous
te_('Nissan',_5) Continuous
te_('Nissan',_6) Continuous
0 <= x_('Nissan',_1,_('Moscow',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_1,_('Moscow',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_1,_('Tambov',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_1,_('Tambov',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_1,_('Voronezh',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_1,_('Voronezh',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_2,_('Moscow',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_2,_('Moscow',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_2,_('Tambov',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_2,_('Tambov',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_2,_('Voronezh',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_2,_('Voronezh',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_3,_('Moscow',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_3,_('Moscow',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_3,_('Tambov',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_3,_('Tambov',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_3,_('Voronezh',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_3,_('Voronezh',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_4,_('Moscow',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_4,_('Moscow',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_4,_('Tambov',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_4,_('Tambov',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_4,_('Voronezh',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_4,_('Voronezh',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_5,_('Moscow',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_5,_('Moscow',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_5,_('Tambov',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_5,_('Tambov',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_5,_('Voronezh',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_5,_('Voronezh',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_6,_('Moscow',_'Tambov')) <= 1 Integer
0 <= x_('Nissan',_6,_('Moscow',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_6,_('Tambov',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_6,_('Tambov',_'Voronezh')) <= 1 Integer
0 <= x_('Nissan',_6,_('Voronezh',_'Moscow')) <= 1 Integer
0 <= x_('Nissan',_6,_('Voronezh',_'Tambov')) <= 1 Integer
0 <= y_('Nissan',_1,_'Moscow') <= 1 Integer
0 <= y_('Nissan',_1,_'Tambov') <= 1 Integer
0 <= y_('Nissan',_1,_'Voronezh') <= 1 Integer
0 <= y_('Nissan',_2,_'Moscow') <= 1 Integer
0 <= y_('Nissan',_2,_'Tambov') <= 1 Integer
0 <= y_('Nissan',_2,_'Voronezh') <= 1 Integer
0 <= y_('Nissan',_3,_'Moscow') <= 1 Integer
0 <= y_('Nissan',_3,_'Tambov') <= 1 Integer
0 <= y_('Nissan',_3,_'Voronezh') <= 1 Integer
0 <= y_('Nissan',_4,_'Moscow') <= 1 Integer
0 <= y_('Nissan',_4,_'Tambov') <= 1 Integer
0 <= y_('Nissan',_4,_'Voronezh') <= 1 Integer
0 <= y_('Nissan',_5,_'Moscow') <= 1 Integer
0 <= y_('Nissan',_5,_'Tambov') <= 1 Integer
0 <= y_('Nissan',_5,_'Voronezh') <= 1 Integer
0 <= y_('Nissan',_6,_'Moscow') <= 1 Integer
0 <= y_('Nissan',_6,_'Tambov') <= 1 Integer
0 <= y_('Nissan',_6,_'Voronezh') <= 1 Integer

## Save result

In [35]:
cols = ["CarName",
        "TripNumber",
        "City_From", 
        "City_To", 
        "DeliveredPerTrip",
        "Lack",
        "DepartueTime",
        "ArrivalTime", "Deliver_From", "Deliver_To"]
result = pd.DataFrame(columns=cols)
row_number = 0
for k in cars:
    for n in trips:
        for i, j in routes:
            #print(k, n, i, j, x[k, n, (i, j)].value())
            if x[k, n, (i, j)].value() == 0:
                continue
            result.loc[row_number, cols] = k, n, i, j, \
                                        d[k, n, j].value() if j != depot else None, \
                                        None, \
                                        t[k, n, i].value(), \
                                        t[k, n, j].value() if j != depot else te[k, n].value(), \
                                        orders.loc[j].Deliver_from if j in cities else None, \
                                        orders.loc[j].Deliver_to if j in cities else None
            row_number += 1

            
result = result.sort_values(by=["CarName", "TripNumber", "ArrivalTime"])
#result

In [36]:
for city in cities:
    curr_lack = orders.loc[city].Demand
    for line in result[result.City_To == city].itertuples():
        curr_lack -= line.Delivered
        result.loc[line.Index, "Lack"] = curr_lack
result

,CarName,TripNumber,City_From,City_To,Delivered,Lack,DepartueTime,ArrivalTime,Deliver_From,Deliver_To
1,Nissan,1,Moscow,Tambov,60,140,0,3,3,15
0,Nissan,1,Tambov,Moscow,None,None,3,6,None,None
3,Nissan,3,Moscow,Tambov,60,80,6,9,3,15
2,Nissan,3,Tambov,Moscow,None,None,9,12,None,None
4,Nissan,6,Moscow,Voronezh,60,40,12,17,17,24
5,Nissan,6,Voronezh,Moscow,None,None,17,22,None,None

In [37]:
cols = ["City",
        "Delivered",
        "Demand",
        "Lack"]
delivery = pd.DataFrame(columns=cols)
row_number = 0
for i in cities:
    delivered = sum((d[k, n, i].value() for k in cars for n in trips))
    delivery.loc[row_number, cols] = i, delivered, orders.loc[i].Demand, lack[i].value()
    row_number += 1
delivery

       City Delivered Demand Lack
0    Tambov       120    200   80
1  Voronezh        60    100   40

In [40]:
pbm.writeLP?