# Simple problem -- single city - single order

In [1]:
import pandas as pd
import pulp as plp

In [2]:
input_file = "../data/test_input.xlsx"
output_file = "../data/test_output.xlsx"

## Data

In [3]:
sheet_name = "Parameters"
df_param = pd.read_excel(input_file, sheet_name=sheet_name)
df_param.set_index("ParamName", inplace=True)
minPeriod = df_param.loc["minPeriod"].ParamValue
maxPeriod = df_param.loc["maxPeriod"].ParamValue
minPeriod, maxPeriod

(0, 25)

In [4]:
sheet_name = "SimpleOrders"
df_orders = pd.read_excel(input_file, sheet_name=sheet_name)
df_orders.head()

   ID      City  Demand  Price_per_unit  Deliver_from  Deliver_to
0   1    Tambov     110              80             3           6
1   2  Voronezh      90             110             7          10

In [5]:
sheet_name = "Routes"
df_routes = pd.read_excel(input_file, sheet_name=sheet_name)
df_routes.head()

   ID      From        To  Time  Distance
0   1    Moscow    Tambov     4       500
1   2    Moscow  Voronezh     3       400
2   3    Tambov    Moscow     4       500
3   4    Tambov  Voronezh     2       200
4   5  Voronezh    Moscow     3       400

In [6]:
sheet_name = "Cities"
df_cities = pd.read_excel(input_file, sheet_name=sheet_name)
df_cities.head()

   ID      City
0   1    Moscow
1   2    Tambov
2   3  Voronezh

In [7]:
sheet_name = "Cars"
df_cars= pd.read_excel(input_file, sheet_name=sheet_name, nrows=1)
df_cars.head()

   ID CarName  Capacity  Price_per_km
0   1     big       200            10

## Structures

Moscow - origin depot and destination depot

In [8]:
def convert_dataframe_to_dict(dataframe, key_columns, value_column):
    return (
        dataframe.loc[:, key_columns + [value_column]]
        .set_index(key_columns)
        .to_dict()[value_column]
    )

def convert_dataframe_to_set(dataframe, key_columns, value_column):
    return set(
        list(convert_dataframe_to_dict(dataframe, key_columns, value_column).keys())
    )

In [9]:
default_depot = df_cities.City[0]

In [10]:
order_cities = set(df_cities.City.values).difference(set([default_depot]))
order_cities

{'Tambov', 'Voronezh'}

In [11]:
origin_depot = default_depot + '_start'
destination_depot = default_depot + '_end'

In [12]:
all_cities = order_cities.union([origin_depot]).union([destination_depot])
all_cities

{'Moscow_end', 'Moscow_start', 'Tambov', 'Voronezh'}

In [13]:
car_capacity = convert_dataframe_to_dict(df_cars, ["CarName"], "Capacity")
car_capacity

{'big': 200}

In [14]:
car_price = convert_dataframe_to_dict(df_cars, ["CarName"], "Price_per_km")
car_price

{'big': 10}

In [15]:
df_routes["From"] = df_routes["From"].apply(lambda v: origin_depot if v == default_depot else v)
df_routes["To"] = df_routes["To"].apply(lambda v: destination_depot if v == default_depot else v)

In [16]:
routes = convert_dataframe_to_set(df_routes, ["From", "To"], "Distance")

In [17]:
route_time = convert_dataframe_to_dict(df_routes, ["From", "To"], "Time")
route_distance = convert_dataframe_to_dict(df_routes, ["From", "To"], "Distance")

In [18]:
route_time, route_distance

({('Moscow_start', 'Tambov'): 4,
  ('Moscow_start', 'Voronezh'): 3,
  ('Tambov', 'Moscow_end'): 4,
  ('Tambov', 'Voronezh'): 2,
  ('Voronezh', 'Moscow_end'): 3,
  ('Voronezh', 'Tambov'): 2},
 {('Moscow_start', 'Tambov'): 500,
  ('Moscow_start', 'Voronezh'): 400,
  ('Tambov', 'Moscow_end'): 500,
  ('Tambov', 'Voronezh'): 200,
  ('Voronezh', 'Moscow_end'): 400,
  ('Voronezh', 'Tambov'): 200})

In [19]:
orders = df_orders.drop("ID", axis=1).set_index("City")
orders

          Demand  Price_per_unit  Deliver_from  Deliver_to
City
Tambov       110              80             3           6
Voronezh      90             110             7          10

In [20]:
cars = convert_dataframe_to_set(df_cars, ["CarName"], "Price_per_km")
cars

{'big'}

## Task

In [65]:
prob = plp.LpProblem("VRPTW", plp.LpMaximize)

In [66]:
x = plp.LpVariable.dicts("x", [(k, r) for k in cars for r in routes], cat=plp.LpBinary)

In [67]:
t = plp.LpVariable.dicts("t", [(k, c) for k in cars for c in all_cities], cat=plp.LpContinuous, lowBound=0)
tx_prod = plp.LpVariable.dicts("tx", [(k, r) for k in cars for r in routes], cat=plp.LpContinuous, lowBound=0)

In [68]:
car_load = plp.LpVariable.dicts("load", [(k, c) for k in cars for c in all_cities], cat=plp.LpContinuous, lowBound=0)
cx_prod = plp.LpVariable.dicts("cx", [(k, r) for k in cars for r in routes], cat=plp.LpContinuous, lowBound=0)
delivered_volume = plp.LpVariable.dicts("vol", [(k, c) for k in cars for c in order_cities], cat=plp.LpContinuous, lowBound=0)
#undelivered_volume = plp.LpVariable.dicts("undel", [c for c in order_cities], cat=plp.LpContinuous, lowBound=0)

In [69]:
# maximize revenue
#revenue = sales_profit - devlivery_cost + expensive_undelivered
prob += plp.lpSum(orders.loc[c].Price_per_unit * delivered_volume[k, c] 
          for k in cars 
          for c in order_cities) \
    - plp.lpSum(route_distance[r] * car_price[k] * x[k, r] for k in cars for r in routes)
    #+ plp.lpSum(100*orders.loc[c].Price_per_unit*undelivered_volume[c] for c in order_cities)

In [70]:
# minimize distance cost
#prob += plp.lpSum(route_distance[r] * car_price[k] * x[k, r] for k in cars for r in routes)

In [71]:
for k in cars:
    for i in order_cities:
        prob += plp.lpSum(x[k, (i, j)] for j in order_cities.union([destination_depot]) if i!=j) <= 1
    # city start and end
    prob += plp.lpSum(x[k, (origin_depot, j)] for j in order_cities) == 1
    prob += plp.lpSum(x[k, (j, destination_depot)] for j in order_cities) == 1
    
    # time start and end 
    prob += t[k, origin_depot] == minPeriod
    prob += t[k, destination_depot] <= maxPeriod
    
    #for i in order_cities:
    #    prob += t[k, i] >= orders.loc[i].Deliver_from
    #    prob += t[k, i] <= orders.loc[i].Deliver_to
     
    # start, end load
    prob += car_load[k, origin_depot] == car_capacity[k]
    prob += car_load[k, destination_depot] + plp.lpSum(delivered_volume[k, i] for i in order_cities) == car_capacity[k]
    
    # ctFlux: // поток -- куда приехали, оттуда уехали
    for j in order_cities:
        prob += plp.lpSum(x[k, (i, j)] for i  in order_cities.union([origin_depot]) if i!=j) \
                - plp.lpSum(x[k, (j, i)] for i in order_cities.union([destination_depot]) if i!=j) == 0
        
    # ctTimeBetweenNodes:// время выполнения заявок между узлами
    # ctLoadBetweenNodes: // загрузка между узлами
    for i, j in routes:
        # x[k, (i, j)] * (t[k, i] + route_time[i, j] - t[k, j]) <= 0
        prob += tx_prod[k, (i, j)] <= t[k, i] + route_time[i, j] - t[k, j]
        prob += tx_prod[k, (i, j)] >= t[k, i] + route_time[i, j] - t[k, j] - maxPeriod * (1 - x[k, (i, j)])
        prob += tx_prod[k, (i, j)] <= maxPeriod * x[k, (i, j)]
        if j == destination_depot:
            _delivered = 0
        else:
            _delivered = delivered_volume[k, j]
        #  x[k, (i, j)] * (car_load[k, i] - delivered_volume[k, j] - car_load[k, j]) <= 0
        prob += cx_prod[k, (i, j)] <= car_load[k, i] - _delivered - car_load[k, j]
        prob += cx_prod[k, (i, j)] >= car_load[k, i] - _delivered - car_load[k, j] - car_capacity[k] * (1 - x[k, (i, j)])
        prob += cx_prod[k, (i, j)] <= car_capacity[k] * x[k, (i, j)] 
        
for i in order_cities:
    prob += plp.lpSum(delivered_volume[k, i] for k in cars) == orders.loc[i].Demand# - undelivered_volume[i]
    for k in cars:
        prob += delivered_volume[k, i] <= orders.loc[i].Demand \
                                    * plp.lpSum(x[k, (i, j)] for j in order_cities.union([destination_depot]) if i!=j)

In [72]:
prob.solve()

1

In [73]:
plp.LpStatus[prob.status], plp.value(prob.objective)

('Optimal', 7700.0)

In [74]:
#prob

## Save result

In [75]:
cols = ["CarName", 
        "City_From", 
        "City_To", 
        "LoadBefore", 
        "LoadAfter", 
        "DeliveredVolume", "StartService", "Deliver_From", "Deliver_To"]
result = pd.DataFrame(columns=cols)
row_number = 0
for k in cars:
    for i, j in routes:
        if x[k, (i, j)].value() == 0:
            continue
        #print(k, i, j, t[k, i].value(), car_load[k, j].value())
        result.loc[row_number, cols] = k, i, j, \
                                     car_load[k, i].value(), \
                                     car_load[k, j].value(),\
                                     delivered_volume[k, i].value() if i in order_cities else None, \
                                     t[k, i].value(), \
                                     orders.loc[j].Deliver_from if j in order_cities else None, \
                                     orders.loc[j].Deliver_to if j in order_cities else None
                        
        #print(k, j, t[k, j].value())
        row_number += 1

In [76]:
result.sort_values(by=["CarName", "StartService"])

,CarName,City_From,City_To,LoadBefore,LoadAfter,DeliveredVolume,StartService,Deliver_From,Deliver_To
0,big,Moscow_start,Voronezh,200,None,None,0,7,10
1,big,Tambov,Moscow_end,None,0,110,0,None,None
2,big,Voronezh,Tambov,None,None,90,1,3,6

In [77]:
for k in cars:
    for i in order_cities:
        print(k, i, t[k, i].value(), delivered_volume[k, i].value())

big Tambov 0.0 110.0
big Voronezh 1.0 90.0

In [78]:
for k in cars:
    for i, j in routes:
        print(k, i, j, x[k, (i, j)].value(), t[k, i].value())

big Moscow_start Voronezh 1.0 0.0
big Tambov Moscow_end 1.0 0.0
big Voronezh Tambov 1.0 1.0
big Voronezh Moscow_end 0.0 1.0
big Moscow_start Tambov 0.0 0.0
big Tambov Voronezh 0.0 0.0