# Play with input data

In [1]:
import pandas as pd

In [2]:
input_file = "../data/input.xlsx"

In [8]:
#orders - OrdersBase
sheet_name = "OrdersBase"
orders = pd.read_excel(input_file, sheet_name=sheet_name)
orders.head()

,ID,Customer,City,city_ID,Quantity,Price_per_unit,Deliver_From,Deliver_To
0,1,Покупатель 1,Район 1,2,5000,100,1,8
1,2,Покупатель 2,Район 1,2,5046,100,1,8
2,11,Покупатель 1,Район 1,2,5000,100,9,16
3,12,Покупатель 2,Район 1,2,1328,100,9,16
4,21,Покупатель 1,Район 1,2,2319,100,17,24

In [9]:
orders.columns

Index(['ID', 'Customer', 'City', 'city_ID', 'Quantity', 'Price_per_unit',
       'Deliver_From', 'Deliver_To'],
      dtype='object')

Take minimal price in order to get lower bound on the revenue.

In [11]:
cols = ['city_ID', 'Deliver_From', 'Deliver_To']
orders = orders.groupby(cols).agg({'Quantity':sum, 'Price_per_unit':min})
orders.head()

                                 Quantity  Price_per_unit
city_ID Deliver_From Deliver_To
2       1            8              10046             100
        9            16              6328             100
        17           24              5867             100
3       1            8               5507             100
        9            16              6130             100